<h1>Listing coaches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @found.each do |coach| %>
      <tr>
        <td>
          <span>
            <%= coach.name %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
