<table>
  <thead>
    <tr>
      <th>School Name</th>
      <th>Coachs Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @found.each do |school| %>
      <tr>
        <td><span class="lookup_link" school_id="<%=school.id%>"><%=school.name%></span></td>
        <td>
          <% if school.coach != nil%>
            <%=school.coach.full_name%>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
