<table>
  <thead>
    <tr>
      <th>School Name</th>
      <th>Coachs Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @found.each do |school| %>
      <tr>
        <td><span class="lookup_link" lookup_id="<%=school.id%>"><%=school.name%></span></td>
        <td>
          <%= lookup school, "coach" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
