<div class="finder">

  <div id="lookup_arguments">
    <span id="setting_id">School</span>
  </div>

  <%= text_field_tag "search", "", :id=>"search_tag" %>
  <input type="button" value="Search" id="lookup_search"/>

  <div id="found_schools">
  </div>
  
</div>