<div class="finder">
  <%=javascript_include_tag "lookup"%>
  <!--<script src="/assets/lookup.js"></script>-->

  <div id="lookup_arguments">
    <span id="setting_id"><%= lookup_field %></span>
    <span id="table_name"><%= obj_type_table_name%></span>
  </div>

  <%= text_field_tag "search", "", :id=>"search_tag" %>
  <input type="button" value="Search" id="lookup_search"/>

  <div id="found_objects"/>
  
</div>